{% extends 'partials/base.html.twig' %}
{% block content %}
    <!-- About me -->
    <div class="container" id="about">
        <div class="row">
            <div class="col-md-4">
                {% for picture in page.header.picture %}
                    {% set image = page.media[picture.src].quality(100) %}
                    {% set image_url = image.url %}
                    <img src="{{ image_url }}" alt="{{ config.site.name}} picture" class="profile_pic">
                {% endfor %}
            </div>
            <div class="col-md-7">
                <div class="about_text">
                    {% for section in page.header.about %}
                        <p>{{ section | textilize }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}