// -----------------------------------------------------------------------------
// This file contains all styles related to the social icons of the site/application.
// -----------------------------------------------------------------------------
.twitter-color {
    color: $twitter-color;

    &.effect:hover {
        color: darken($twitter_color, 10%);
        transition: all 3s;
    }
}

.youtube-color {
    color: $google_plus-color;

    &.effect:hover {
        color: darken($google_plus-color, 10%);
        transition: all 3s;
    }
}

.google_plus-color {
    color: $google_plus-color;

    &.effect:hover {
        color: darken($google_plus-color, 10%);
        transition: all 3s;
    }
}

.twitch-color {
    color: $twitch-color;

    &.effect:hover {
        color: darken($twitch-color, 10%);
        transition: all 3s;
    }
}

.github-color {
    color: $github-color;

    &.effect:hover {
        color: darken($github-color, 10%);
        transition: all 3s;
    }
}

.spotify-color {
    color: $spotify-color;

    &.effect:hover {
        color: darken($spotify-color, 10%);
        transition: all 3s;
    }
}

.linkedin-color {
    color: $linkedin-color;

    &.effect:hover {
        color: darken($linkedin-color, 10%);
        transition: all 3s;
    }
}

.facebook-color {
    color: $facebook-color;

    &.effect:hover {
        color: darken($facebook-color, 10%);
        transition: all 3s;
    }
}

.email-color {
    color: $email-color;

    &.effect:hover {
        color: darken($email-color, 10%);
        transition: all 3s;
    }
}

.phone-color {
    color: $phone-color;

    &.effect:hover {
        color: darken($phone-color, 10%);
        transition: all 3s;
    }
}

/* Background */
.twitter-color_background {
    background-color: $twitter-color;

    &.effect:hover {
        background-color: darken($twitter_color, 10%);
    }
}

.youtube-color_background {
    background-color: $google_plus-color;

    &.effect:hover {
        background-color: darken($google_plus-color, 10%);
    }
}

.google-plus-color_background {
    background-color: $google-plus-color;

    &.effect:hover {
        background-color: darken($google-plus-color, 10%);
    }
}

.twitch-color_background {
    background-color: $twitch-color;

    &.effect:hover {
        background-color: darken($twitch-color, 10%);
    }
}

.github-color_background {
    background-color: $github-color;

    &.effect:hover {
        background-color: darken($github-color, 10%);
    }
}

.spotify-color_background {
    background-color: $spotify-color;

    &.effect:hover {
        background-color: darken($spotify-color, 10%);
    }
}

.linkedin-color_background {
    background-color: $linkedin-color;

    &.effect:hover {
        background-color: darken($linkedin-color, 10%);
    }
}

.facebook-color_background {
    background-color: $facebook-color;

    &.effect:hover {
        background-color: darken($facebook-color, 10%);
    }
}

.email-color_background {
    background-color: $email-color;

    &.effect:hover {
        background-color: darken($email-color, 10%);
    }
}

.phone-color_background {
    background-color: $phone-color;

    &.effect:hover {
        background-color: darken($phone-color, 10%);
    }
}
