// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Fonts
$main-font: "Work San", sans-serif;
$second-font: "Lato", sans-serif;
$legal-font: "Times New Roman", Times, serif;

// Social Icons Color
$twitter-color: #1da1f2;
$twitch-color: #6441a5;
$youtube-color: #cd201f;
$github-color: #333;
$google-plus-color: #dd4b39;
$spotify-color: #1db954;
$linkedin-color: #0077b5;
$social-icon: #ffffff;
$social-icon_hover: #091533;

// Footer Text
$footer-color: #000000;
$footer-color_link: #3D3D3D;
$footer-background: #ffffff;

// Footer Legal
$footer-color-legal: #000000;
$footer-color_link-legal: #3D3D3D;

// Brand Color
$brand-color: #091533;
$brand-color-alt: #00ACED;
$brand-color-alt-2: #0D4D8B;

// Menu Links
$nav-bgDefault: #ffffff;
$nav-bgHighlight: #ffffff;
$nav-colDefault: #00ACED;
$nav-colHighlight: #091533;
$nav-dropdown: true;
$nav-toggleBorder: #00ACED;
$nav-toggleBackground: #ffffff;
$nav-toggleIcon: #00ACED;

// Hero
$hero-animate-text: #ffffff;

// Profile Picture
$profile_pic-bg: #015274;

// Buttons
$button_background_font: #0D4D8B;
$button_background: #ffffff;
$button_background_effect_font: #ffffff;
$button_background_effect: #0D4D8B;

$content_panding: 50px;
