// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
.img-circle {
    border-radius: 50%;
}

html {
    position: relative;
    min-height: 100%;
}
