// -----------------------------------------------------------------------------
// This file contains all styles related to the about component.
// -----------------------------------------------------------------------------
#about {
    padding-top: $content_panding;
    padding-bottom: $content_panding;

    .profile_pic {
        @extend .img-circle;
        max-width: 75%;
        display: flex;
        justify-content: center;
        margin: 0px auto;
        background-color: $profile_pic-bg;
    }

    .text {
        font-family: $main-font;
        font-size: 1.15em;
        font-style: normal;

        a:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: 991px) {
    #about {
        .profile_pic {
            float: none;
            margin: 0 auto;
        }
    }
}
