// -----------------------------------------------------------------------------
// This file contains all styles related to the blog component.
// -----------------------------------------------------------------------------
.blog {
  margin-bottom: $content_margin;
  .no-posts {
    font-family: $main-font;
    font-weight: 700;
    font-size: 1.15em;
    .icon {
      font-size: 1.15em;
    }
  }
  .form-group {
    margin-left: auto;
    margin-bottom: 12px;
  }
  @media (max-width: 576px) {
    .form-group {
      margin: 6px auto;
      .form-control {
        width: 100%;
      }
      .btn {
        width: 100%;
      }
    }
  }
}
