// -----------------------------------------------------------------------------
// This file contains all styles related to the page header component.
// -----------------------------------------------------------------------------
.page_header {
    text-align: center;
    height: 100%;
    background: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0px;
    font-weight: 700;

    .text {
        color: #ffffff;
        font-family: $second-font;
        font-size: 3.15em;
        display: inline-block;
    }

    .inner {
        background-color: transparent !important;
        
        .header {
            font-family: $main-font;
            color: $brand-color;
            font-weight: 700;
            font-size: .75em;
        }
    }
}
