// -----------------------------------------------------------------------------
// This file contains all styles related to the post component.
// -----------------------------------------------------------------------------
.post {
    margin-bottom: $content_margin;

    .inner {
        margin-top: 24px;
    }

    .content {
        font-family: $second-font;
        font-size: 1.15em;
        color: #000000;

        .bold {
            font-weight: 700;
        }

        a {
            color: #858585;

            &:hover {
                text-decoration: none;
                color: #1d1d1d;
            }
        }
    }

    .hero {
        height: 350px;
        background-color: #000000;
        background-image: url(../images/hero_bg.png);
        background-position: center center;
        background-size: cover;
        position: relative;
        text-align: center;
    }

    .post-tags {
        display: inline;
    }

    .author {
        img {
            background-color: #ffffff;
            border-radius: 100%;
            border: 4px solid $brand-color;
            width: 175px;
            height: 175px;
            padding: 0;
        }

        .name {
            font-family: $main-font;
            font-size: 1.25m;
            color: #000000;
            font-weight: 700
        }
    }

    .side-content {
        font-family: $main-font;
        font-size: 1.15em;
        color: #000000;
    }

    .share {
        display: inline-flex;

        .facebook, .googleplus, .email {
            margin: 0.5em;
        }

        .twitter {
            margin: 0.5em 0.5em 0.5em 0;
        }

        .googleplus {
            display: flex;
            align-self: center;
        }

        .email {
            .btn {
                border: none;
                background: $brand-color-alt;
                height: 28px;
                padding: 0.15rem 0.5rem;

                &:hover {
                    background: lighten($brand-color-alt, 0.25);
                    border: none;
                }
            }
        }
    }
}
