// -----------------------------------------------------------------------------
// This file contains all styles related to the page header component.
// -----------------------------------------------------------------------------
.post_header {
  text-align: center;
  height: 100%;
  margin: 0px;
  font-weight: 700;
  &.cover {
    background: #ffffff;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  &.no-cover {
    background: lighten($brand-color-alt, 0.95);
    padding-top: 75px;
    padding-bottom: 75px;
    .text {
      color: #ffffff;
      .inner {
        .header {
          color: #ffffff;
        }
      }
    }
  }
  &.cover,
  &.no-cover {
    .text {
      font-family: $second-font;
      font-size: 3.15em;
      display: inline-block;
    }
    .inner {
      background-color: transparent !important;
      .header {
        font-family: $main-font;
        font-weight: 700;
        font-size: .75em;
      }
    }
  }
}
