.search {
    margin-top: 24px;
    margin-bottom: 24px;

    // .img {}

    .meta {
        .title {
            font-family: $main-font;
            font-weight: 700;
            font-size: 1.25em;
            color: $brand-color;
        }

        .read-time,
        .date {
            display: inline;
        }
    }
}

.search-results {
    .text-box {
        bottom: 0;
        position: absolute;
    }

    .form-group {
        margin-left: auto;
    }

    @media (max-width: 768px) {
        .search-wrapper {
            margin-top: 12px;
        }

        .text-box {
            position: relative;
            text-align: center;
        }

        .form-group {
            margin: 0 auto;
        }
    }

    @media (max-width: 576px) {
        .form-control {
            width: 100%;
        }

        .form-group {
            .btn {
                width: 100%;
            }
        }
    }
}
