#cookies-eu-banner {
    background: #444;
    color: #fff;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 9999;

    &.scroll {
        top: 0px;
        position: fixed;
        z-index: 9999;
    }

    &.landing {
        margin: 75px 0 0 0;
    }

    @media (max-width: 768px) {
        &.landing {
            margin: 70px 0 0 0;
        }
    }
}

#cookies-eu-more,
#cookies-eu-accept,
#cookies-eu-reject {
    text-decoration: none;
    background: #222;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    font-size: 13px;
    font-weight: bold;
    transition: background 0.07s, color 0.07s, border-color 0.07s;

    &:hover, &:focus {
        background: #fff;
        color: #222;
    }
}

#cookies-eu-more {
    margin-left: 7px;
}

#cookies-eu-reject {
    background: none;
    font-weight: normal;
    color: #ccc;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    border: 1px solid #666;

    &:hover, &:focus {
        border-color: #fff;
        background: #222;
        color: #fff;
    }
}
