<!-- background-image: url({{ site.subpath}}/assets/images/hero_bg.jpg) -->
<div class="jumbotron page_header">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="inner">
                    <div class="text">
                        <div class="header">{{ page.header.header.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
