{% if page.header.cover.enable %}
    {% set cover = page.media[page.header.cover.src].quality(100) %}
    {% set post_header = cover.url %}
    <div class="jumbotron post_header cover" style="background-image: url('{{ post_header }}'); background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="inner">
                        <div class="text">
                            <div class="header" style="color:{{ page.header.cover.color }};">{{ page.header.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if page.header.cover.enable == false %}
<div class="jumbotron post_header no-cover">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="inner">
                    <div class="text">
                        <div class="header">{{ page.header.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
